
<!DOCTYPE html>
<html >
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl">
<button ng-click="count = count + 1" ng-init="count=0">OK</button>
<p>The button has been clicked {{count}} times.</p>

<table>
  <tr ng-repeat="x in names">
    <td>{{ x.Name }}</td>
    <td>{{ x.Country }}</td>
  </tr>
</table>

</div>

<script>
  function ver(typeSQL) {
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
     $http.get("php/customers_mysql.php?valor='6'")
     .then(function (response) {$scope.names = response.data.records;});
  });
    // body...
  }
</script>

</body>
</html>
