    /*	 ESTILOS GENERALES	*/
:root {
	--grey1:  #73797c;
	--grey2: #bec0c2;
	--aqua: #54c0d3;

	--greyHigh: #868992;
	--greyMed: #a5abb8;
	--textHover: #DDDDDD;
	--whitteSolid: #FFF;
	--blackSolid:  #000000;
	--degrayBlack:  #000000d4;
	--textFocus:  #000000;
	--degrayBlackLow:  #0000007d;
	--greenTrasparente:  #56af3185;
	--google: #4F6A77;
}

body{
    display: block;
	width: 100%;
	height: 100%;
	font-family: 'Raleway', sans-serif;
	display: contents;
	overflow-x: hidden;
    background-color: var(--whitteSolid);
}

* {
    transition: width 2s;
}

a, a:link, a:hover, a:visited {
    color: var(--grey1);
	text-decoration: none !important;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}


.colorDegradado {
    background: rgba(38,38,38,1);
    background: -moz-linear-gradient(top, rgba(38,38,38,1) 0%, rgba(32,32,32,0.8) 20%, rgba(23,23,23,0.8) 50%, rgba(10,10,10,0.8) 80%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(38,38,38,1)), color-stop(20%, rgba(32,32,32,0.8)), color-stop(50%, rgba(23,23,23,0.8)), color-stop(80%, rgba(10,10,10,0.8)));
    background: -webkit-linear-gradient(top, rgba(38,38,38,1) 0%, rgba(32,32,32,0.8) 20%, rgba(23,23,23,0.8) 50%, rgba(10,10,10,0.8) 80%);
    background: -o-linear-gradient(top, rgba(38,38,38,1) 0%, rgba(32,32,32,0.8) 20%, rgba(23,23,23,0.8) 50%, rgba(10,10,10,0.8) 80%);
    background: -ms-linear-gradient(top, rgba(38,38,38,1) 0%, rgba(32,32,32,0.8) 20%, rgba(23,23,23,0.8) 50%, rgba(10,10,10,0.8) 80%);
    background: linear-gradient(to bottom, rgba(38,38,38,1) 0%, rgba(32,32,32,0.8) 20%, rgba(23,23,23,0.8) 50%, rgba(10,10,10,0.8) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#0a0a0a', GradientType=0 );
}

.colorSemiDegradado {
    background: rgba(143,143,143,0.3);
    background: -moz-linear-gradient(top, rgba(143,143,143,0.3) 0%, rgba(0,0,0,0.37) 25%, rgba(0,0,0,0.47) 66%, rgba(31,31,31,0.56) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(143,143,143,0.3)), color-stop(25%, rgba(0,0,0,0.37)), color-stop(66%, rgba(0,0,0,0.47)), color-stop(100%, rgba(31,31,31,0.56)));
    background: -webkit-linear-gradient(top, rgba(143,143,143,0.3) 0%, rgba(0,0,0,0.37) 25%, rgba(0,0,0,0.47) 66%, rgba(31,31,31,0.56) 100%);
    background: -o-linear-gradient(top, rgba(143,143,143,0.3) 0%, rgba(0,0,0,0.37) 25%, rgba(0,0,0,0.47) 66%, rgba(31,31,31,0.56) 100%);
    background: -ms-linear-gradient(top, rgba(143,143,143,0.3) 0%, rgba(0,0,0,0.37) 25%, rgba(0,0,0,0.47) 66%, rgba(31,31,31,0.56) 100%);
}

.aquaDegradado{

background: rgba(47,162,182,0.5);
background: -moz-linear-gradient(top, rgba(47,162,182,0.5) 0%, rgba(64,164,191,0.64) 46%, rgba(47,162,182,0.8) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(47,162,182,0.5)), color-stop(46%, rgba(64,164,191,0.64)), color-stop(100%, rgba(47,162,182,0.8)));
background: -webkit-linear-gradient(top, rgba(47,162,182,0.5) 0%, rgba(64,164,191,0.64) 46%, rgba(47,162,182,0.8) 100%);
background: -o-linear-gradient(top, rgba(47,162,182,0.5) 0%, rgba(64,164,191,0.64) 46%, rgba(47,162,182,0.8) 100%);
background: -ms-linear-gradient(top, rgba(47,162,182,0.5) 0%, rgba(64,164,191,0.64) 46%, rgba(47,162,182,0.8) 100%);
background: linear-gradient(to bottom, rgba(47,162,182,0.5) 0%, rgba(64,164,191,0.64) 46%, rgba(47,162,182,0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fa2b6', endColorstr='#2fa2b6', GradientType=0 );
}

.filtrerWthas{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e0e0e+0,000000+100&0.77+0,0.76+100 */
	background: -moz-linear-gradient(top, rgba(14,14,14,0.77) 0%, rgba(0,0,0,0.76) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(14,14,14,0.77) 0%,rgba(0,0,0,0.76) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(14,14,14,0.77) 0%,rgba(0,0,0,0.76) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c40e0e0e', endColorstr='#c2000000',GradientType=0 ); /* IE6-9 */
}

*{
    transition: width 2s;
}

.bold{
    font-weight: 900;
}

/* HEADER  INICIO*/
#header{
	width: 100%;
	height: 100vh;
}

/*ID FORMS*/
#iUser{
	display: none;
}
/*ID FORMS*/

/*------------------------------*/

.header{
	width: 100%;
	height: 90%;
    position: relative;
    background: url(../image/fondo-header.jpg) center no-repeat;
    background-size: cover;
	display: flex;
}

.ContMenu{
	z-index: 1;
	width: 30%;
	height: 100%;
/*	background-color: var(--grey1); */
}
.ContX{
	z-index: 0;
	width: 35%;
	height: 100%;
}
.ContLinksMenu{
    width: 35%;
    height: 70%;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
		z-index: 1;
}
.cont2Link{
    width: 90%;
    height: 35%;
    display: flex;
}

.contLink{
	text-align: center;
	width: 100%;
	margin: 10px;
	color: var(--textHover);
    display: block;
}
.contLink:hover {
    margin: 0px;
}


.containerCuentas {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.imgLink, .tiitleLink{
	margin-top: 15px;
	width: 100%;
	height: 50%;
	align-items: center;
	vertical-align: middle;
}


.Contlogo{
	width: 70%;
	height: 25%;
}

.ContmeniItems{
	width: 100%;
	height: 70%;
}

.logoHeader{
	width: 50%;
	margin: 15%;
}
.gpoBotones{
	margin-top: 20%;
}
.btn-group .buttonMenu {
    background-color: var(--grey1); /* Green background */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 60%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    font-size: 1.5em;
    text-align: -webkit-left;
    border: var(--grey1) solid 1px;
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: var(--aqua);
    border: var(--aqua) solid 0px;
}

.xDhimex {
    position: absolute;
    width: auto;
    height: 100%;
    right: 25%;
}

/*	HEADER FIN*/
/*INICIO CONTENIDO*/

#contenido{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    position: relative;
    background: url(../image/fondoX.png) 100% 0% no-repeat;
    background-size: cover;
    /* margin: 24px; */
    display: block;
    margin-top: -10vh;
}

.ContQuienes{
	    display: flex;
}

.ContQuienes, .ContBanner, .ContProductos, .ContBannerServ, .ContCuentas{
	width: 100%;
	height: auto;
}
.ContImagesAbout{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ContAboutText{
	width: 60%;
	display: block;
}
.imgAbout{
    margin-left: 50px;
    margin-right: 50px;
    width: 80px;
    height: 80px;
}

.ContTiitle{
	width: 40%;
}

.ContTxtAbout{
	padding: 5%;
}

.txtAbout{
	text-align: left;
    font-size: 3em;
    border-bottom: var(--grey1) solid 10px;
    padding-top: 0px;
    padding-bottom: 20px;

	      margin-left: 10%;
}
.gralBoton{
	background-color: var(--grey1);
    color: white;
    padding: 11px 0px;
    cursor: pointer;
    width: 25%;
    display: block;
    font-size: 1.5em;
    text-align: center;
    border: var(--grey1) solid 1px;
}
/*		BOTON GENERAL	*/
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--grey1);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	transform: skew(-20deg);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-ms-transform: skew(20deg);
	-o-transform: skew(20deg);
	transform: skew(20deg);
}

.buttonPie span{
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-ms-transform: skew(20deg);
	-o-transform: skew(20deg);
	transform: skew(20deg);
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*	BANNER */
.ContBanner{
	position: relative;
    background: url(../image/banner1Machines.jpg) center no-repeat fixed;
    background-size: cover;
	display: flex;

}
.contMyBanner{
	width: 100%;
	height: 200px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.BannerTxt{
	width: 60%;
}
.BannerBoton{
	width: 40%;
}

.BannerBoton, .BannerTxt{
	display: flex;
    justify-content: center;
    align-items: center;
}
.txtBannerInfo{
	font-size: 3em;
	color: var(--textHover);
    text-align: center;
}

.ContTiitleProductos{
	width: 40%;
    float: right;
    position: relative;
}

.containerProductos{
	width: 100%;
	height: auto;
    display: inline-block;
}
.ContProductos{
	display: block;
}


/*Ajustando los productos*/

.contHijoServ {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* display: block; */
    width: 23%;
    height: 200px;
    margin: 1% 1% 1% 1%;
    text-align: center;
    /* font-size: 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    border: 3px solid var(--aqua);
}

.logoWhats{
        width: 20%;
}
.txtWhats{
        width: 70%;
}

.FourBanner{
	width: 100%;
	height: auto;
}
.contServiceHijo{
	border: 3px solid var(--textHover);
    height: 90%;
	display: block;
	color: var(--whitteSolid);
}
.ContBannerServ{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    height: auto;
    position: relative;
    background: url(../image/banner2Services.jpg) center no-repeat fixed;
    background-size: cover;
    display: flex;
}

.tituloBanner{
    font-size: 2.5em;
}

.imgServices {
    margin: 10%;
    width: 80%;
    height: auto;
}
.detailsServices{
    font-size: 1.8em;
    padding-left: 10%;
    padding-right: 10%;
}

.linkProductos{
    color: var(--textHover) !important;
}

.ContCuentas{
	height: 300px;
}

.yearCourse{
    width: 100% !important;
    font-size: 1em !important;
}

.imgCuenta{
    width: auto;
    height: 25%;
    margin: 5% 5% 5% 5%;
}

.curList{
        text-decoration: blink !important;
    list-style: circle !important;
}
.contCounts{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContCuentas{
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triangulo {
    fill: var(--grey1);
    stroke: var(--grey1);
    stroke-width: 0;
}
.txtAcor{
	width: 98%;
	font-size: 2em !important;
	text-align: center;
	padding: 1%;
}
.contTriangulo {
    /* width: 954px; */
    height: 190%;
    right: 40%;
    /* top: -114px; */
    bottom: 0%;
    position: absolute;
}

#footer{
	width: 100%;
	height: auto;
	position: relative;
}

.ContPie{
	width: 100%;
	height: 100%;
	display: block;
}
.productosName:hover{
	background-color: var(--aqua);
}
.ContEnlaces{
	width: 100%;
	height: auto;
	background-color: var(--grey2);
	display: flex;
	font-size: .8em;
	color: var(--grey1);
}
.txtCOntCata{
	padding: 20px;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}
.ContLinksPie{
    width: 33.33%;
    display: block;
    justify-content: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    /* margin: 1% 5% 1% 5%; */
    padding: 2% 2% 2% 2%;
    text-align: center;
    justify-content: center;
    align-items: center;
    float: left;
}
.imgMarcas{
	width: 150px;
	height: auto;
	margin: 5% 5% 5% 5%;
}

.borderPie{
	    border-left: 3px solid var(--textHover);
}
.logoPie{
	width: 100px;
}

.buttonPie {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--aqua);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
		-webkit-transform: skew(-20deg);
		-moz-transform: skew(-20deg);
		-ms-transform: skew(-20deg);
		-o-transform: skew(-20deg);
		transform: skew(-20deg);
}
.containerCatalog {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.buttonPie:hover{
	background-color: var(--grey1);
}

li, a {
	text-decoration: none;
	list-style:none;
	}

.input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 45px;
}


.input-field {
    width: 100%;
    height: 30px;
    /* padding: 10px; */
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    margin: 5px;
		-webkit-transform: skew(-20deg);
		-moz-transform: skew(-20deg);
		-ms-transform: skew(-20deg);
		-o-transform: skew(-20deg);
		transform: skew(-20deg);
}

.input-field:focus {
    border: 2px solid var(--aqua);
}

/* Set a style for the submit button */
.btn {
    background-color: var(--aqua);
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}
.news{
	    width: 90%;
    	margin-left: 10%;
}

.titlePlie{
	padding-left: 10px;
	text-align: left;
	color: black;
}
.linksPies{
	    text-align: -webkit-auto;
}

.ContCopy{
	width: 100%;
	height: 100px;
	position: absolute;
	color: var(--whitteSolid);
	background-color: var(--grey1);
	display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-size: .8em;
}

.contRedesFooter{
	position: absolute;
    right: 10px;
}

.imgRedes{
	margin-left: 10px;
	width: 30px;
    height: 30px;
    border-radius: 7px;
}

.PentaDhimex {
    z-index: -1;
    position: absolute;
    width: auto;
    height: 100%;
    right: 65%;
}

/*FIN DE CONTENIDO*/

/*	EXTRA PAGES ALL WEBSITE	*/

#headerWeb, #section{
	width: 100%;
	height: auto;
	position: relative;
}
.topnav {
	width: 90%;
  overflow: hidden;
  background-color: var(--textHover);
  /**/
    justify-content: center;
    align-items: center;
}

.topnav a {
    margin-top: 42px;
    float: left;
    display: block;
    color: var(--blackSolid);
    text-align: -webkit-left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.3em;
}

.onFocus {
  background-color: var(--aqua);
  color: var(--blackSolid);
  border-bottom: var(--grey1) solid 6px;
}

.topnav .icon {
  display: none;
}

.dropdown {
    float: left;
    overflow: auto;
    width: 40%;
}

.dropdown .dropbtn {
    width: 100%;
    font-size: 17px;
    border: none;
    outline: none;
    color: var(--blackSolid);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--grey1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    overflow-y: scroll;
}

.dropdown-content a {
    float: none;
    color: var(--grey2);
    padding: 15px 30px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.sizeDefin{
    height: 850%;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: var(--aqua);
  color: white;
  border-bottom: var(--grey1) solid 6px;
}

.dropdown-content a:hover {
    background-color: var(--aqua);
    color: var(--blackSolid);
}

.dropdown:hover .dropdown-content {
    width: 20%;
    display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.ContainerHeader{
    background-color: var(--textHover);
    width: 100%;
    display: flex;
    height: 100px;
}

.containerLogo{
    width: 10%;
    height: 80%;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 1%;
}
.logoPage{
	height: 100%;
}

.containerNav{
	width: 100%;
	background-color: var(--grey2);
}

ul.breadcrumb {
    padding: 20px 16px;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


.section{
	width: 100%;
	height: 100%;
	position: relative;
}

.ContTitulo{
	margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 11%;
    /* display: flex; */
    display: flex;
    justify-content: center;
}
.tTittle{
	font-size: 2em;
	color: var(--aqua);
	text-shadow: 1px 3px 10px #aaa;
}

.ContMisVis{
	width: 100%;
	height: 300px;
	display: flex;
}
.mision, .vision{
	width: 50%;
	height: 100%;
	color: var(--blackSolid);
    text-align: center;
}

.mision{
	background-color: var(--grey1);
}
.vision{
	background-color: var(--grey2);
}

.tittleBold{
	font-weight: bold;
    font-size: 2.5em;
    text-align: -webkit-right;
    padding-right: 100px;
}

.visioMisio{
	padding-left: 50px;
	padding-right: 50px;
	font-size: 1.5em;
}
.ContBelive{
    width: 100%;
    height: 600px;
    background-color: var(--grey1);
    /* height: auto; */
    position: relative;
    background: url(../image/empresaPanorama.jpg) center no-repeat;
    background-size: cover;
    display: flex;
}

.TittleBelive{
    width: 800px;
    height: 450px;
    position: absolute;
    right: 50px;
    top: 120px;
}
.tTxtBelive{
    text-align: right;
    color: var(--whitteSolid);
    padding-right: 50px;
    font-weight: bold;
    font-size: 2.5em;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Belive{
    margin: 50px;
    margin-top: 0px;
    width: 700px;
    height: 350px;
    position: relative;
}

.txtBelive{
    color: var(--whitteSolid);
    padding: 50px;
    font-weight: bold;
    font-size: .9em;
    margin: 0px;
}
.ContVAC{
    width: 100%;
    height: auto;
    display: flex;
}

.ContVideo{
	z-index: 1;
    width: 60%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}

.video{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
    height: 70%;
}

.triangulo-top {
    width: 0;
    height: 0;
    border-left: 300px solid transparent;
    border-top: 300px solid var(--aqua);
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
}


.triangulo-botton {
    width: 0;
    height: 0;
    border-left: 300px solid transparent;
    border-top: 0px solid transparent;
    border-right: 0px solid var(--grey2);
    border-bottom: 300px solid var(--grey2);
}
.Panel1, .Panel2{
    right: 30%;
    width: 130%;
    height: 300px;
    display: flex;
    position: relative;
}

.txtAli{
	background-color: var(--aqua);
}
.txtCon{
	background-color: var(--grey2);
}

.ContAliCon{
    width: 40%;
    height: 600px;
    display: block;
    position: relative;
}

.txtAli, .txtCon{
	padding: 30px;
	display: flex;
	width: 70%;
	height: auto;
}
.texto-vertical-1 {
    font-size: 2em;
    text-align: -webkit-right;
    writing-mode: vertical-lr;
    padding: 10px;
    color: var(--whitteSolid);
}

.ContSliderEspecial{
    /* position: relative; */
    display: flex;
    width: 100%;
    height: auto;
    /* display: flex; */
    /* justify-content: center; */
}
.ContEspGIF{
    width: 20%;
    height: 300px;
    background-color: coral;
    display: flex;
    justify-content: center;
}
.imgGif{
	width: 300px;
}

.moveSlider{
	display: flex;
	width: 200%;
	height: auto;
    overflow-x: scroll;
}
.ImgBanner2{
        margin-top: 100px;
    background: url(../image/numbers.jpg) center no-repeat;
    background-size: cover;
        font-size: .8em;
}

/*Estilo de filtro de imagenes*/
#myBtnFilContainer{
	display: flex;
    justify-content: center;
        align-items: center;
}


.filterDiv {
    float: left;
    background-color: var(--aqua);
    color: #ffffff;
    width: 23%;
    height: 200px;
    text-align: center;
    margin: 1%;
  	display: none;
}

.showFil {
  display: block;
}

.container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 52px;
    margin-bottom: 10%;
    overflow: hidden;
    justify-content: center;
}

/* Style the buttons */
.fbtn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 1.3em;
}

.fbtn:hover {
  background-color: #ddd;
}

.fbtn.active {
  background-color: var(--aqua);
  color: white;
}

.imagenAjustada {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.txtFiltro{
	background-color: coral;
	position: relative;
}


/**/
.contenedorIMG:hover .img {
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}
.contenedorIMG {
	overflow:hidden;
}

.img, .img:hover {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px #666, 0px 5px 15px 0px #000;
    position: relative;
}

.txtTittleSector {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ff00002e;
}



.card {
    position: relative;
    width: 100%;
    height: 100%;
    background: #262626;
    overflow: hidden;
}
.card .imgBx,
.card .details {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;
}
.card .imgBx {
    top: 0;
    left: 0;
}
.card:hover .imgBx {
    top: 0;
    left: -100%;
}
.card .imgBx img {
    width: 100%;
}
.card .details {
    background: var(--aqua);
    top: 0;
    left: 100%;
    padding: 60px 30px;
}
.card:hover .details {
    top: 0;
    left: 0%;
}
.card .details h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 2px solid #fff;

}
.card .details p {
    margin: 20px 0 0;
    color: #fff;
}

.ContSpecial{
	width: 100%;
	height: auto;
	    display: flex;
    justify-content: center;
}


/*Slider de comercio*/


/*Page Services*/

.imgBx{
    width: 100%;
    height: 400px;
}
.ContService{
    width: 100%;
    height: 100%;
    display: flex;
}
.IMGServ, .ContTxtServ2{
    width: 50%;
    height: 100%;
}
.txtDer{
    text-align: right;
}
.txtIzq{
    text-align: left;
}
.tService{
  	font-size: 2.5em;
    margin: 0px;
}
.txtService{
    width: auto;
    height: auto;
    position: relative;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.bloque{
    width: 100%;
    height: 100%;
    position: relative;
    background-size: auto;
    display: block;
		margin-top: 0px !important;
}

.imgBloqueDer{
	background: url(../image/fondoX.png) 100% 0% no-repeat;
	background-position: right;
	background-size: contain;
	margin-top: -50px;

}
.imgBloqueIzq{
    background: url(../image/fondoXDer.png) 100% 0% no-repeat;
    background-position: left;
        background-size: contain;
}

.ImgBanner3 {
    background: url(../image/banner3.jpg) center no-repeat;
    background-size: cover;
    font-size: .8em;
}
.btnService{
    padding: 15px;
    width: 200px;
}
.btnAqua{
    background-color: var(--aqua);
}

/*  SECCION DE PRODUCTOS Y FILTROS */
.headerFiltros{
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: var(--aqua) solid 3px;
    border-top: var(--aqua) solid 3px;
}

.ContFiltros{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

.caja {
    width: auto;
    margin: 10px 15px 10px 15px;
    border: 1px solid var(--grey2);
    height: auto;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #FFFFFF;
}

select {
   font-size: 10px;
   height: 30px;
   width: 100%;
   padding: 1px;
}
select:focus{
    outline: none;
    background: var(--whitteSolid);
}
select:hover {
    background-color: var(--aqua);
    color: var(--whitteSolid);;
}

select, option{
    font-size: .9em;
}

.txtArea{
    margin: 0px;
    width: 100%;
    height: 100px;
}

.cerrarContactContenedor{
    z-index: 5;
    text-align: center;
    padding: 2%;
    background-color: var(--blackSolid);
}

select::-ms-expand {
    display: none;
}

/*  ACORDION ESTYLE*/
.ContProd{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    /*padding: 18px;*/
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.activeAcordion, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: 'VER';
    color: var(--whitteSolid);
    font-weight: bold;
    float: right;
    margin-left: 5px;
    background: var(--aqua);
    font-size: 10px;
    width: 50px;
    text-align: center;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.activeAcordion:after {
    content: "OCULTAR";
}

.panel {
    background-color: #ffffff82;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: var(--aqua) solid 1px;
    border-left: var(--grey2) solid 1px;
    border-right: var(--grey2) solid 1px;
    border-top: var(--grey2) solid 1px;
    display: flex;
}
.txtTCV{
    font-size: 2em;
    text-align: center;

}

.imgProdIcon{
    height: 50px;
    width: auto;
    vertical-align: middle;
}

.noBorder:hover .dropbtn {
    border-bottom: var(--grey1) solid 0px;
}


.ConBoxIMGProd{
    width: 40%;
    height: auto;
}
.ConBoxDetallesProd{
    width: 60%;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
}

.boxIMGProd{
    width: 100%;
    height: 45%;
    position: relative;
    background: url(../image/penta-min.png) 0 no-repeat;
    background-size: contain;
    background-position: left;
}
.boxTXTProd{
    width: 100%;
    height: 55%;
    position: relative;
}

.imgProd{
    width: auto;
    height: 100%;
    float: right;
}
.txtDetailsPro{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px;
}

.formatTXTDetails{
        padding-left: 5%;
        color: var(--aqua);
}
.detallesContenedor{
        height: 90%;
}

.ContContenidoDescr{
    width: 96%;
    height: 100%;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
}


/*TABS*/
.tabs {
  position: relative;
  height: 100%; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
}
.tab label {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
  cursor: pointer;
}
.tab [type=radio] {
  display: none;
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

#CatalogoProductos{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*PAGINACION*/

.pagination a {
    color: black;
    margin: 5px;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color .3s;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
}

.pagination a.activePage {
    background-color: var(--aqua);
    color: white;
}

.pagination a:hover:not(.activePage) {background-color: #ccc;}
.ContPag{
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    border: var(--aqua) solid 1px;
}

.txtCV{
    padding: 20px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}
.imgGrafica{
    width: 70%;
    height: auto;
}
.txtCVData{
        padding-left: 2%;
    padding-right: 2%;
}

/* SIDENAV*/
.sidenav {
    width: 20%;
    height: auto;
    position: relative;
    /* top: 20px; */
    left: 10px;
    overflow-x: hidden;
        display: none;
}

.vertical-menu {
    width: auto;
    border: var(--aqua) solid 1px;
}

.vertical-menu a {
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: var(--grey2);
}

.vertical-menu a.activeMenuLat {
    background-color: var(--aqua);
    color: white;
    cursor: default;
}
.contContacto{
    width: 100%;
    height: auto;
    display: flex;
}

.main {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 28px;
    padding: 0px 10px;
    position: relative;
}

.txtCursosEnunciado{
	font-size: 1em;
	color: var(--aqua);
text-shadow: 1px 3px 10px #aaa;
}

.contTContacto{
    width: 100%;
    height: auto;
    border: var(--aqua) solid 1px;
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tContacto{
    font-size: .8em;
    text-align: center;
    margin: 0px;
}

.redesContact{
    position: absolute;
    right: 35px;
    font-size: .8em;
    display: flex;
}

.ContMap{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
}

.contTxtBox, .contMapBox{
    text-align: center;
    font-size: 0.6em;
    /* display: flex; */
    justify-content: center;
}

.contTxtBox{
    width: 40%;
}

.contMapBox{
    width: 60%;
}
.txtDataContacto{
    height: auto;
    display: flex;
    text-align: -webkit-left;
    font-size: .8em;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    position: relative;
    align-items: center;
    padding: 5px;
}
.mapFrame{
    margin: 5%;
    width: 90%;
    height: 80%;
}

.txtData{
      margin-left: 20px;
}

.lineaBandera {
    width: 60%;
    border-style: inset;
    border-top: 1px solid var(--grey1);
    border-bottom: 1px solid var(--grey1);
    height: 0;
    box-sizing: border-box;
    max-width: 42rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ContForm{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}
.txtForm{
    font-size: .7em;
    margin-right: 5%;
}

.protectionInfo{
    width: 100%;
    /* margin-right: 200px; */
    font-size: .7em;
    text-align: -webkit-right;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    margin-top: 20px;
}

.campoForm{
    width: 50%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}
.campoFormLong{
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.txtComent{
    margin: 0px;
    width: 75%;
    /* height: 100px; */
    position: relative;
    /* width: 50%; */
    /* height: 20px; */
    float: right;
    /* margin-right: 5%; */
    margin-left: 5%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    /* justify-content: flex-end; */
}

.contFormCampo{
    width: 100%;
    display: flex;
}
.textField{
    position: relative;
    width: 50%;
    height: 20px;
    /* float: right; */
    /* text-align: center; */
    /* margin-right: 10%; */
    margin-left: 10%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filtrerCursos{
    width: 100%;
    height: auto;
    border: var(--aqua) solid 1px;
    display: flex;
    /* padding-left: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}


.txtMenuCurso.active {
    background-color: var(--aqua);
    color: white;
}
.txtMenuCurso {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    font-size: .6em;
}
.txtMenuCurso:hover {
    background-color: #ddd;
}

.ContCursoTop{
    width: 100%;
    height: 25%;
    background-color: black;
    display: flex;
}

.ContCursoCenter{
    width: 100%;
    height: 55%;
    background-color: white;
}

.ContCursoBotton{
    width: 100%;
    height: 20%;
    background-color: coral;
}

.contDivCurso{
    width: 30%;
    height: 550px;
    border: var(--aqua) solid 1px;
}

.iconCurso{
    width: 30%;
    position: relative;
}

.tCurso{
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}
.txtCurso{
    font-size: .5em;
}

.imgStatus{
    left: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
}
.imgType{
    height: 50px;
    left: 10px;
    margin: 20%;
}
.txtTittleCurso{
    text-align: center;
    line-height: 15px;
    font-size: 17px;
    margin: 5%;
    height: 95%;
}

.txtcodeCurso{
    font-size: 15px;
    text-align: -webkit-auto;
    color: var(--grey1);
}
.tamCurso1{
	width: 100%;
	display: flex;
	display: flex;
	justify-content: center;
}
.tamCurso2{
    font-size: 12px;
    width: 70%;
}
.imgOK{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
}
.txtDescCurso{
    color: black;
    text-align: center;
    font-size: 17px;
    margin: 0px;
    padding: 2%;
}
.contCoste{
    width: 100%;
    height: auto;
    display: initial;
}

.txtAddres{
    width: 100%;
    display: flex;
}

.modificar{
    cursor: pointer;
}
.txtDirCurso{
    font-size: 13px;
    color: var(--grey1);
}

.noDisponible{
    cursor: no-drop;
    background-color: var(--grey2);
}
.disponible{
    background-color: var(--aqua);
    color: #FFFFFF;
    cursor: pointer;
}

.btnCurso{
    display: inline-block;
    border-radius: 0px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    margin: 0px;
		-webkit-transform: skew(0deg);
		-moz-transform: skew(0deg);
		-ms-transform: skew(0deg);
		-o-transform: skew(0deg);
		transform: skew(0deg);
}
.imgT {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.imgBannerHome{
    height: 50px;
}

.productoMje{
    text-align: center;
    font-size: 20px;
}
/**/
/*	END PAGES ALL WEBSITE		*/

/* AJAX ACORDION STYLE  */

/*Acco*/
.contAcordion{
    border-bottom: : var(--aqua) solid 2px;
}
.ac-container label {
  height: auto !important;
  line-height: 21px !important;
  font-size: 20px !important;
  padding: 5px 20px;
  position: relative;
  display: block;
  cursor: pointer;
  color: #777;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
  background: #eee;
  background: -moz-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#fff),color-stop(100%,#eaeaea));
  background: -webkit-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: -o-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: -ms-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: linear-gradient(top,#fff 1%,#eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff',endColorstr='#eaeaea',GradientType=0 );

  height: 30px;
  line-height: 20px;
  border-bottom: var(--aqua) solid 1px;
}

.ac-container {
  width: 100%;
  margin: 10px auto 30px auto;
  text-align: left;
}

.ac-container label:hover {
    background: var(--textHover);
}

.ac-container input:checked + label,.ac-container input:checked + label:hover {
  background: #f1f2f3;
  color: #666;
  text-shadow: 0 1px 1px rgba(255,255,255,0.6);
  /* box-shadow: 0 0 0 1px rgba(155,155,155,0.3), 0 2px 2px rgba(0,0,0,0.1); */
  height: 30px;
  line-height: 21px;
  font-size: 13px;
}

.ac-container label:hover:after,.ac-container input:checked + label:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
    background: transparent url(../image/down.png) no-repeat center center;
}


.ac-container input {
  display: none;
}

.ac-container article {
  background: rgba(255,255,255,0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
}

.ac-container article p {
  font-style: normal;
  color: #777;
  /* line-height: 23px; */
  /* font-size: 10px; */
  padding: 20px;
  /* text-shadow: 1px 1px 1px rgba(255,255,255,0.8); */
}

.ac-container input:checked ~ article {
  -webkit-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  box-shadow: 0 0 0 1px rgba(155,155,155,0.3);
}

.ac-container input:checked ~ article.ac-small {
  height: auto;
}

.ac-container input:checked ~ article.ac-medium {
  height: auto;
}

.ac-container input:checked ~ article.ac-large {
  height: auto;
}

.founNumber{
	padding: 10px;
	text-align: center;
	color: var(--grey1);
}

.contProductoAJAX{
	width: 100%;
	height: 100%;
	display: flex
}

.txtAjaxCont{
	padding: 3%;
	font-size: 2em;
}

.imgAjax{
	width: 200px;
	height: 100%;
}

.sidenav1 {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	background-color: #000000e8;
	overflow-y: hidden;
	transition: 0.5s;
	padding-top: 20%;
	text-align: center;
}

.sidenav1 a {
		padding: 0px 0px 10% 0px;
		text-decoration: none;
		font-size: 2em;
		color: var(--aqua);
		display: block;
		transition: 0.3s;
}

.sidenav1 a:hover {
		color: #f1f1f1;
}

.sidenav1 .closebtn {
		position: absolute;
		top: 0;
		right: 20px;
		font-size: 5em;
		margin-left: 50px;
}

#main1 {
		transition: margin-left .5s;
}
.MenuBar{
	font-size: 5em;
	cursor: pointer;
	position: fixed;
	display: inline;
	z-index: 4;
}

/* ++++++++++++++++++++++++++++++ RESPONSIVE ++++++++++++
    *******************     PARA IPADS / TABLETAS      */
    /*TABLET HORIZONTAL*/
@media (min-width:861px) and (max-width:1024px) {
    *{
        transition: width 2s;
    }

    .xDhimex {
        right: 18%;
    }

    .ContLinksMenu {
        z-index: 1;
    }

    #contenido {
        background: url(../image/fondoX.png) 12% 0% no-repeat;
        background-size: cover;
    }

    .txtAli, .txtCon {
        padding: 5px;
    }

    .ContBanner {
        background: url(../image/banner1Machines.jpg) center no-repeat;
        background-size: cover;
    }

    .ContBannerServ {
        background: url(../image/banner2Services.jpg) center no-repeat;
        background-size: cover;
    }

    .ContVideo {
        width: 55%;
    }
    .gpoBotones {
        margin-top: 0%;
    }

    .ContAliCon {
        width: 45%;
    }
    .texto-vertical-1 {
        text-align: center;
    }
    .ContProd {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .containerLogo {
        width: 160px;
        margin-right: 0px;
        margin-left: 5%;
        position: relative;
        }

    .sidenav {
        width: 25%;
    }

    .main {
        width: 75%;
        margin-left: 1%;
        margin-right: 1%;
        font-size: 25px;
        padding: 0px 5px;
    }



    .contDivCurso {
        width: 45%;
        margin: 2%;
    }

    .textField,.txtComent {
        border-color: var(--grey1);
    }
}

@media  (min-width:470px) and (max-width:860px) {
    .header {
        height: 65%;
    }
    .xDhimex {
        right: 0%;
    }

    .PentaDhimex {
        right: 70%;
    }
    .logoHeader {
       margin-top: 60%;
    }
    .logoHeader {
        margin-top: 50%;
    }
    .gpoBotones {
        margin-top: 10%;
        font-size: .8em;
    }

    .ContLinksMenu {
			width: 30%;
	    height: auto;
	    margin-top: 10%;
	    margin-left: 5%;
    }

    .cont2Link {
        margin-bottom: 25px;
        display: block;
    }
		.ContBannerServ {
    background: url(../image/banner2Services.jpg) center no-repeat;
    background-size: cover;
}
.ContBanner {
    background: url(../image/banner1Machines.jpg) center no-repeat;
    background-size: cover;
}

    #contenido {
        margin-top: -35vh;
        z-index: 2;
        background: url(../image/fondoX.png) 40% 0% no-repeat;
        background-size: cover;
    }

    .contHijoServ {
        width: 43%;
        height: 300px;
        margin: 3% 3% 3% 3%;
    }

.imgCuenta {
    width: 60%;
    margin: 5% 5% 5% 5%;
}

.containerCuentas {
    grid-template-columns: auto auto auto;
}

    .ContCuentas {
        height: 150px;
    }

    .ContBelive {
        height: 900px;
    }
		.TittleBelive {
		    position: relative;
		    top: 15%;
		    width: 100%;
		    height: 450px;
		    position: absolute;
		    right: 0px;
		}
		.Panel1, .Panel2 {
		    right: 100%;
		    width: 83%;
		    height: 300px;
		}

    .containerLogo {
    				width: 10%;
            height: 80%;
            margin-left: 5%;
            padding-top: 1%;
        }


    .ContProd {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
		.topnav a {
	    margin-top: 49px;
  		padding: 14px 10px;
	    font-size: .9em;
		}

    .sidenav {
        width: 25%;
    }

    .main {
        width: 73%;
        margin-left: 1%;
        margin-right: 1%;
        font-size: 28px;
        padding: 0px 10px;
        position: relative;
    }
    .txtBannerInfo {
        font-size: 2.5em;
    }
    .filtrerCursos {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .txtMenuCurso {
        padding: 10px 10px;
        font-size: .5em;
    }

    .contTxtBox, .contMapBox {
        width: 100%;
    }

    .ContMap {
        display: block;
    }
}
/*Portatil de forma vertical */
@media screen and (max-width:669px), and (orientation: portrait){
	.ContMenu {
    display: none;
	}

    .containerCuentas {
    grid-template-columns: auto;
}

.imgCuenta {
    width: 40%;
}

.ContCuentas {
    height: 150px;
}

	.ContX {
	    width: 5%;
	}
	.ContLinksMenu {
	    position: absolute;
	    width: 60%;
	    height: 100%;
	    /* margin-top: 20%; */
	    z-index: 1;
	    right: 0;
	}
	.cont2Link {
	    display: block;
	}
	.MenuSpan {
		display: grid;
	    font-size: 2em;
	    cursor: pointer;
	    display: flex;
	    margin-left: 5%;
	    margin-top: 5%;
	    color: var(--aqua);
			z-index: 2;
	}
	.ContAboutText {
	    width: 100%;
	}
	.imgAbout {
	    margin-left: 25px;
	    margin-right: 0px;
	    width: 60px;
	    height: 60px;
	}
	.ContTiitle {
	    width: 100%;
	    position: absolute;
	    top: 30px;
	}
.txtAbout {
    text-align: center;
    font-size: 2em;
}
.ContBanner {
    background: url(../image/banner1Machines.jpg) center no-repeat;
    background-size: cover;
		margin-top: 50px;
margin-bottom: 50px;
}
.contMyBanner {
    display: block;
		    height: auto;
}
.BannerTxt {
    width: 100%;
}
.txtBannerInfo {
    font-size: 2em;
}
.BannerBoton {
    width: 100%;
}
.ContTiitleProductos {
    width: 100%;
}
.contHijoServ {
    -moz-box-sizing: border-box;
    width: 98%;
    height: 260px;
    border: 3px solid var(--google);
}
.imgServices {
    margin: 0px;
    width: 70px;
    height: 70px;
}
.ContBannerServ {
    background: url(../image/banner2Services.jpg) center no-repeat;
    background-size: cover;
}

	.ContQuienes {
	    display: block;
	}
	.ContEnlaces {
	    height: 100%;
	    display: grid;
	    position: relative;
	}
	.ContLinksPie {
	    width: 100%;
	}
	.news {
	    margin-left: 5%;
		}
		.ContCopy {
	    width: 100%;
	    height: 300px;
	    display: block;
	}
	.contRedesFooter {
	    position: relative;
	    right: 0px;
	    text-align: center;
	    margin: 25px;
	}
	.ContCopy {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    position: relative;
}
	#contenido {
	    background-color: var(--whitteSolid) !important;
			background: red;
	    margin-top: -20vh;
	}

	.tTittle {
		font-size: 1.5em;
    text-align: center;
	}
	.ContMisVis {
	    height: auto;
    display: grid;
	}
	.mision, .vision {
	    width: 100%;
	}
	.tittleBold {
	    padding-right: 0px;
	    text-align: center;
	}
	.TittleBelive {
    width: 100%;
    height: 100%;
    position: relative;
    right: 0px;
    top: 0px;
}
.tTxtBelive {
    text-align: center;
    padding-right: 0px;
    margin-top: 20px;
}
.Belive {
    margin: 0px;
    margin-top: 0px;
    width: 100%;
    height: auto;
    position: relative;
}
.ContVAC {
    display: block;
}
.ContVideo {
    width: 100%;
}
.ContAliCon {
    width: 100%;
    height: auto;
}
.triangulo-top,.triangulo-botton {
    display: none;
}

.Panel1, .Panel2 {
    right: 0px;
    width: 100%;
    height: auto;
}
.txtAli, .txtCon {
    padding: 10%;
    width: 80%;
}

#myBtnFilContainer {
    display: grid;
}
.container {
    width: 90%;
    margin-right: 0px;
    margin-top: 20px;
}
.filterDiv {
    width: 98%;
}

.ContFiltros {
    width: 100%;
    justify-content: center;
}
.ContProd {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.ac-container label {
    display: grid;
	}

	.panel {
	    overflow-x: scroll;
	    position: relative;
	    width: 200%;
	}

	.ac-container input:checked ~ article.ac-small {
    height: auto;
    width: 100%;
    overflow: auto;
    position: relative;
}

.ContService {
    display: block;
}
.IMGServ, .ContTxtServ2 {
    width: 100%;
}
.tService {
    font-size: 2em;
}
.txtCV {
    padding: 20px;
    width: 100%;
    height: 100%;
		display: block;
}
.pnl{
	width: 100%;
	height: 100%;
}
.txtTCV {
    font-size: 1em;
    align-items: center;
}
.imgGrafica {
    width: 100%;
    height: 100%;
}
.sidenav {
    display: none;
}

.contTContacto {
	width: 100%;
	height: 60px;
	display: block;
}

.logoHeader {
	position: relative;
	width: auto;
	height: 80px;
	right: 0%;
	margin: 5%;
}
.Contlogo {
    width: 100px;
    height: 0%;
    display: contents;
	}
	.topnav {
	    display: none;
	}
	.containerLogo {
		width: 30%;
    margin-right: 15%;
    margin-left: 22%;
		}
	.main {
	    width: 92%;
	    margin-left: 0px;
	    margin-right: 0px;
	}
	.ContMap {
	    display: block;
	}
	.contTxtBox, .contMapBox {
	    width: 100%;
	}
	.txtForm {
	    margin-right: 0px;
	}
	.contFormCampo {
	    display: block;
	}
	.campoForm {
	    width: 100%;
	}

}
/*     media para pantalla pequeÃ±a y horizontal */
@media (min-width:470px) and (max-width:820px)  and (orientation: landscape){
	.sidenav1 .closebtn {
	    top: 0px;
	    right: 30px;
	    font-size: 3em;
	}
	.sidenav1 {
	    padding-top: 10%;
	}
	.logoHeader {
	    margin: 5%;
			height: 50px;
	}
	.sidenav1 a {
	    padding: 5px 0px 5% 0px;
	    font-size: 1.5em;
	}
	.ContBelive {
    height: 100%;
	}
	.ContMisVis {
		display: flex;
		height: 350px;
	}
	.triangulo-top, .triangulo-botton {
	    display: block;
	}
	.txtAli, .txtCon {
	    padding: 2%;
	    width: 98%;
	}
	.contMyBanner {
	    display: flex;
	}
	#myBtnFilContainer {
	    display: flex;
	}
	.fbtn {
	    padding: 10px 10px;
	    font-size: .8em;
	}
	.filterDiv {
	    width: 48%;
	}
	.ContEnlaces {
	    display: flex;
	    font-size: 10px;
	}
	.input-container {
    height: auto;
		display: block;
}
.input-field {
    width: 75%;
    font-size: 8px;
}
.containerLogo {
    width: 62%;
    margin-right: 27%;
    margin-left: 33%;
}
.panel {
    width: 150%;
}
.fbtn {
    padding: 5px 5px;
    font-size: 1em;
}
.filterDiv {
    width: 47%;
}
.ContMap, .contFormCampo {
    display: flex;
}
	.header {
	    height: 100%;
	}
	#contenido {
	    background-color: var(--whitteSolid) !important;
	    margin-top: 0vh;
	}
	.cont2Link {
	    margin-bottom: 0px;
	    display: flex;
	}
	.contLink {
    margin: 5px;
    font-size: 12px;
	}
	.xDhimex {
	    right: 30%;
	}
	.contHijoServ {
	    width: 95%;
	}

	.PentaDhimex {
	    right: 75%;
	}
	.Contlogo, .gpoBotones {
	    display: none;
	}
	.ContMenu {
	    display: flex;
	}
	.contHijoServ {
	    width: 44%;
	    height: 200px;
	}
	.imgServices {
	    margin: 10px;
	    width: 30px;
	    height: 30px;
	}
	.tituloBanner {
	    margin: 0px;
	}

}


.PVSystem{
	width: 100%;
}

.IMGSystem{
	width: 20%;
}

.txtSystem{
	width: auto;
	height: auto;
	position: relative;
	padding-left: 2%;
	padding-top: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
}
.caja0{
	width: 100%;
	display: flex;
	box-shadow: 1px 1px 1px 1px #fff, 0 0px 0 1px #ddd, -1px 1px 1px 2px #ddd inset;
}

.caja1{
	width: 48%;
	margin: 1%;
}
.caja2{
	width: 46%;
	margin: 2%;
}
.caja4{
	width: 94%;
	margin: 2%;
}

.caja20{
	width: 50%;
	display: block;
	margin: 2%;
}
.btn20{
	width: 50%;
	margin-left: 50%;
}
.dataIngreso{
	display: flex;
}
.cotizaForm{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.textCotiza{
	position: relative;
	width: 65%;
	height: 20px;
	padding: 13px;
	margin-left: 2%;
	display: flex;
	margin-top: 5px;
	margin-bottom: 5px;
}
.cotiza1A{
	    width: 55%;
}
.DespCotiza{
	position: relative;
	width: 55%;
	height: 20px;
	margin-left: 2%;
	display: flex;
	margin-top: 5px;
	margin-bottom: 5px;
}
.hoursSelect{
	width: auto;
	margin-left: 5px;
	margin-right: 5px;
}
.dateTimeReg{
	display: flex;
align-items: center;
}
.userB{
	display: flex;
	width: 100%;
	/* margin-left: 25%; */
}

.btnCotizador{
	background-color: var(--aqua);
	border-color: var(--whittesolid);
}
.form-control{
	width: 100% !important;
	margin-left: 2% !important;
	margin-right: 2% !important;
}

.tablaCosto, .contBOtonesCotiza{
	width: 100%;
    text-align: center;
    align-items: center;
    position: relative;
    display: flex;
	  justify-content: center;
}
/*TABLE SISTEMA*/
.tg  {width: 100%; margin: 10px;border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-baqh{text-align:center;}
.tg .tg-amwm{font-weight:bold;text-align:center;}

.tg .tg-buh4{background-color:#f9f9f9;text-align:center;}
.tg .tg-mrzz{background-color:#f9f9f9;text-align:center;}
.tg .tg-hgcj{font-weight:bold;text-align:center}
.tg .tg-amwm{font-weight:bold;text-align:center;}
.tg .tg-0lax{text-align:center;;vertical-align:top}


.tblDatas{
width: 98%;
margin: 1%;
border-collapse: collapse;
border-spacing: 0;
border-color: #ccc;
}
/*BOTONES*/
.btnLimpiar{
	  background: url("iconos.gif") no-repeat scroll 0 0 transparent;
}
.btnSendCot{
	width: 20%;
	float: right;
}
.btnClean {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}.btnClean:hover {
	background-color:#e9e9e9;
}.btnClean:active {
	position:relative;
	top:1px;
}

.bt{
margin: 20px;
}

.textoForms{
	    font-weight: 700;
}



.ingresaUser{
	display: flex;
}
